<form ng-submit="$ctrl.addExpense(expense, cost);">
<!-- <div> -->
    <label>Expense: <input type="text" ng-model="expense"></label>
    <label>cost: $<input type="number" min="0.01" step="0.01" ng-model="cost"></label>
    <!-- <button ng-submit="$ctrl.addExpense(expense, cost);">Add Expense</button> -->
    <button>Add Expense</button>
</form>
<!-- </div> -->
<br>
<br>
<h1>Expenses:</h1>
<ul>
    <li ng-repeat="expense in $ctrl.service.expenseArray">{{expense.expenseKey}} {{expense.costKey}}</li>
    <button ng-click="$ctrl.deleteExpense(expense)">Delete</button>
</ul>
<label>Total Expenses: {{$ctrl.service.ExpenseTotal}}</label>